html {
  height: 100%;
}
body {
  background: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
  font-family: "Montserrat", sans-serif !important;
}
.App .box {
  max-width: 60%;
  margin: 50px auto;
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 2px 2px 1px rgb(0 0 0 / 50%);
}

.navbar {
  max-width: 700px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button:hover {
  cursor: pointer;
}
.field {
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid cadetblue;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: steelblue;
}
h2 {
  font-size: 1rem;
  color: gray;
}
h3 {
  font-size: 2rem;
  color: steelblue;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 10px;
}
h4 {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.unit {
  text-decoration: none;
  font-weight: 600;
  color:steelblue;
}
.unit:hover {
  color:steelblue;
  cursor: pointer;
}
.units {
  font-size: 1.1rem;
}
.conversion {
  font-weight: 500;
  color: grey;
}
.Forecast .days {
  font-weight: 700;
}
.App #search {
  background-color: steelblue;
}



small {
  display: block;
  margin: 0 auto;
  text-align: center;
}
small a {
  text-decoration: none;
  color: grey;
}

/*Responsive Styles */

@media (min-width: 801px) and (max-width: 1200px) {
  body {
    margin: 10px auto;
  }
  .App .box {
    max-width: 65%;
  }
}
@media (max-width: 800px) {
  body {
    margin: 10px auto;
  }
  .App .box {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
  }
}
@media (max-width: 600px) {
  body {
    margin: 10px auto;
  }
  .App .box {
    max-width: 90%;
  }
}
